<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
  <title>Flex layout</title>
</head>
<body>
    <div class="link">
      <a href="grid.html"> link to grid 
    layout
      </a>
  </div>
    <div class="container">
      <div class="card1">
        <img src="/image/icon-sedans.svg" alt="">
        <p class="title">
          sedans
        </p>
        <p class="about">
          Choose a sedan for its affordability and exellent fuel economy. Ideal for cruising in the city or on your next road trip
        </p>

          <a class="btn1" href="#">Learn More</a>
      </div>
      <div class="card2">
        <img src="/image/icon-luxury.svg" alt="">
        <p class="title">
          suvs
        </p>
        <p class="about">
          Take an SUV for it's spacious interior, power and versatility. Perfect for your next family vacation and off-adventures.
        </p>

          <a class="btn2"  href="#">Learn More</a>
      </div>
      <div class="card3">
        <img src="/image/icon-suvs.svg" alt="">
        <p class="title">
          luxury
        </p>
        <p class="about">
          Cruise in the best car brands without the bloated price. Enjoy the enhanced comfort of a luxury rental and arrive in style.
        </p>

          <a class="btn3" href="#">Learn More</a>
      </div>
    </div>
</body>
</html>