*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* FLEX LAYOUT STYLING */
body{
  font-size: 15px;
  background-color:  hsl(0, 0%, 95%);
}
.container{
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 850px;
  max-height: 900px;
  border-radius: 9px;
} 

.card1{
  background-color:hsl(31, 77%, 52%) ;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 40px;
}

.card2{
  background-color:hsl(184, 100%, 22%) ;
  padding: 40px;

  }

.card3{
  background-color:hsl(179, 100%, 13%) ;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 40px;
  
  
}

.title{
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 30px;
  color:  hsl(0, 0%, 95%);
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
}
.about{
  font-family: 'Lexend Deca';
  font-weight: 400;
  color:hsla(0, 0%, 100%, 0.75) ;
  margin-bottom: 90px;
}

a{
  font-family: 'Lexend Deca'; 
}

.btn1{
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  color:hsl(31, 77%, 52%) ;
  padding: 9px 20px;
  border-radius: 20px;
  

}
.btn1:hover{
  border:2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  
}

.btn2{
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  color:hsl(184, 100%, 22%) ;
  padding: 9px 20px;
  border-radius: 20px;
}

.btn2:hover{
  border:2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  
}
.btn3{
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  color:hsl(179, 100%, 13%) ;
  padding: 9px 20px;
  border-radius: 20px;

}

.btn3:hover{
  border:2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  
}


.link{
  margin-left: 100px;
  margin-top: 50px;
}

.link a{
  background-color: #015179;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  font-family: helvetica, 'serif';
  font-size:20px ;
  border-radius: 25px; 
}

.link a:hover{
  background-color: #e5f6ff;
  color: #015179;
  border: 2px solid #015179;
  
}

@media only screen and (max-width: 600px){
	.container {
		flex-direction: column;
		margin: 20px auto;
		width: 375px;
		max-width: 90%;
	}
	
	.card1{
		border-radius:  10px 10px 0 0;
	}
	.card3{
		border-radius: 0 0 10px 10px;
	}
}
/* FLEX LAYOUT STYLING END */


/* GRID LAYOUT STYLING */

.gridContainer{
    display: grid;
    grid-template-areas:
        'a a b'
        'c d d'
        'c e e';
    grid-gap: 10px;
    padding: 40px 5% 0;
    width: 80%;
    max-width: 700px;
    height: 500px;
    grid-template-columns: 47.5% 17.5% 35%;
    grid-template-rows: 47.5% 24% 28.5%;
    margin: auto;
    margin-top: 50px;

}

.gridItem1{
  background-color: rgb(252, 68, 68);
  grid-area: a;
}
.gridItem2{
  background-color: rgb(5, 177, 5);
  grid-area: b;

}
.gridItem3{
  background-color: rgb(0, 159, 151);
  grid-area: c;
  

}
.gridItem4{
  background-color: rgb(240, 94, 36);
  grid-area: d;
  

}
.gridItem5{
  background-color: rgb(143, 4, 155);
  grid-area: e;
  

  
}